* {
box-sizing: border-box;
}

body {
  background-image: url(imagenes/batman.jpg);
  background-color: #c82121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  max-width: 100%;
  font-family: 'Mouse Memoirs','Space Mono', monospace, Helvetica;
  font-size: 20px;
}

/* mouse-memoirs-regular - latin-ext_latin */
@font-face {
  font-family: 'MouseMemoirs';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Mouse Memoirs'), local('Mouse-Memoirs'),
       url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/mouse-memoirs-v11-latin-ext_latin-regular.svg#MouseMemoirs') format('svg'); /* Legacy iOS */
}

.fondo {
  display: block;
  width: 97%;
}

.titulo {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 97%;
}

div.caja_transparente {
  background-color:  black;
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

div.caja_transparente p {
  color: white;
  margin: 2%;
  text-align: center;
}

h1 {
  font-family: 'Bangers', monospace;
  font-size: 60px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

/* bangers-regular - latin para título Comics */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/bangers-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bangers Regular'), local('Bangers-Regular'),
       url('/fonts/bangers-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/bangers-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/bangers-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/bangers-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/bangers-v19-latin-regular.svg#Bangers') format('svg'); /* Legacy iOS */
}

h1 strong {
  color: white;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

/* Permite aplicar forma de placeholder a la opción indicada como ejemplo  */
select:invalid{
    color: gray;
}
option{
    color: black;
}
/* Fin de placeholder */
label {
  display: flex;
  margin-bottom: 1px;
  align-items: center;
  font-family: 'Mouse Memoirs','Space Mono', monospace, Helvetica;
}

.control {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  font-family: inherit;
  font-size: 17px;
  color: black;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  max-width: 100%;
}

.col-7 {
  background-color:  black;
  border-radius: 8px;
}

.grupo {
  font-family: 'MouseMemoirs', monospace;
  text-align: left;
}

.campos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.radio-group fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

legend {
  font-family: 'Mouse Memoirs','Space Mono', monospace, Helvetica;
  text-align: center;
}

.checkbox {
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  margin: 0.5rem;
}

input[type="checkbox"] { /* cambiar "blue" por 'red' usando https://vchet.github.io/Filter-Calculator/ para encontrar valor de filtro */
background-color: white;
-webkit-filter: brightness(50%) sepia(1) hue-rotate(-38.3deg) saturate(169.3%) brightness(169.3%);
filter: brightness(50%) sepia(1) hue-rotate(-38.3deg) saturate(169.3%) brightness(169.3%)

}

input[type="radio"] { /* cambiar "blue" por 'red' usando https://vchet.github.io/Filter-Calculator/ para encontrar valor de filtro */
background-color: white;
height: 15px;
width: 15px;
-webkit-filter: brightness(50%) sepia(1) hue-rotate(-38.3deg) saturate(169.3%) brightness(169.3%);
filter: brightness(50%) sepia(1) hue-rotate(-38.3deg) saturate(169.3%) brightness(169.3%)
}

.caja_comentarios {
  display: block;
  font-family: inherit;
  width: 100%;
}

div.caja_comentarios p {
  font-family: 'Mouse Memoirs','Space Mono', monospace, Helvetica;
}

div.caja_comentarios label {
  justify-content: center;
}

textarea {
  font-family: inherit;
  font-size: 17px;
  min-height: 100px;
  padding: 0.5rem;
  resize: vertical;
  width: 100%;
  color: black;
  background-color: white;
}

.submit {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #c82121;
}

/* Para móviles: */
[class*="col- caja_transparente"] {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px;
  border-style: none;
}

.row::after {
content: "";
clear: both;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 97%;}
.col-s-12 {width: 100%;}


[class*="col-"] {
float: left;
padding: 15px;
border: 1px;
border-style: none;
}

.row::after {
content: "";
clear: both;
}

}


@media only screen and (min-width: 768px) {
/* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 94%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px;
  border-style: none;
  }
  .row::after {
  content: "";
  clear: both;
  }

}

@media only screen and (min-width: 919px) {
/* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 97%;}
  .col-12 {width: 100%;}


  [class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px;
  border-style: none;
  flex-basis: 25%;
  }

  .row::after {
  content: "";
  clear: both;
  }

}
